video {
  transform: scaleX(-1);
}

.localVideo video {
  width: 100px !important;
  position: absolute !important;
  z-index: 200 !important;
  right: 100px !important;
  bottom: 50px !important;
  height: 100px !important;
}
.remoteVideo video {
  width: 100%;
  height: 100vh;
}
.endCall {
  position: absolute !important;
  z-index: 200;
  bottom: 20px;
  right: 50%;
  left: 50%;
}
